<p id="notice"><%= notice %></p>

<p>
  <strong>Trade:</strong>
  <%= @line_item.trade %>
</p>

<p>
  <strong>Itemcode:</strong>
  <%= @line_item.itemCode %>
</p>

<p>
  <strong>Description:</strong>
  <%= @line_item.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @line_item.quantity %>
</p>

<p>
  <strong>Units:</strong>
  <%= @line_item.units %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
